<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3>CS496 Pizza Management System</h3>
    <h4>Powered by Google App Engine</h4>
    <h3>EDIT EXISTING ORDER</h3>

    <form action="/order" method="post">
      <input type="hidden" name="action" value="update_order">
      <input type="hidden" name="key" value={{ key }} >
      <div style="width:400px">
        <fieldset>
          <legend>Change your customer name</legend>
          <input type="text" name="customer_name" size="30" maxlength="30" value={{ customer }}>
        </fieldset>
        <br>
        <fieldset>
          <legend>Change your password</legend>
          <input type="password" name="customer_pw" size="30" maxlength="30" value={{ password }} >
        </fieldset>
        <br>
        <fieldset>
          <legend>Change Pizza Size</legend>
          {% if size == "8" %}
          <input type="radio" name="pizza_size" value="8" checked="checked">8 Inch
          <input type="radio" name="pizza_size" value="16">16 Inch
          <input type="radio" name="pizza_size" value="32">32 Inch
          {% elif size == "16" %}
          <input type="radio" name="pizza_size" value="8">8 Inch
          <input type="radio" name="pizza_size" value="16" checked="checked">16 Inch
          <input type="radio" name="pizza_size" value="32">32 Inch
          {% else %}
          <input type="radio" name="pizza_size" value="8">8 Inch
          <input type="radio" name="pizza_size" value="16">16 Inch
          <input type="radio" name="pizza_size" value="32" checked="checked">32 Inch
          {% endif %}
        </fieldset>
        <br>
        <fieldset>
          <legend>Change Quantity</legend>
          <select name="qty">
            {% if qty == "1" %}
            <option value=1 selected>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            {% elif qty == "2" %}
            <option value=1>1</option>
            <option value=2 selected>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            {% elif qty == "1" %}
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected>3</option>
            <option value=4>4</option>
            {% else %}
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4 selected>4</option>
            {% endif %}
          </select>
        </fieldset>
        <br>
        <fieldset>
          <legend>Choose Toppings</legend>
          {% if "pepperoni" in toppings %}
          <input type="checkbox" name="toppings" value="pepperoni" checked/>Pepperoni<br>
          {% else %}
          <input type="checkbox" name="toppings" value="pepperoni"/>Pepperoni<br>
          {% endif %}
          {% if "mushrooms" in toppings %}
          <input type="checkbox" name="toppings" value="mushrooms" checked />Mushrooms<br>
          {% else %}
          <input type="checkbox" name="toppings" value="mushrooms" checked/>Mushrooms<br>
          {% endif %}
          {% if "onions" in toppings %}
          <input type="checkbox" name="toppings" value="onions" checked />Onions<br>
          {% else %}
          <input type="checkbox" name="toppings" value="onions"/>Onions<br>
          {% endif %}
          {% if "peppers" in toppings %}
          <input type="checkbox" name="toppings" value="peppers" checked />Peppers<br>
          {% else %}
          <input type="checkbox" name="toppings" value="peppers"/>Peppers<br>
          {% endif %}
        </fieldset>
        <br>
        <fieldset>
          <legend>Special Instructions</legend>
        <textarea name="spec_instr" rows="4" cols="55">{{ comments }}</textarea>
        </fieldset>
        <br>
        
        <input type="submit" value="Submit Changes">
      
      </div>
    </form>
  </body>
</html>
{% endautoescape %}