<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3>CS496 Pizza Management System</h3>
    <h4>Powered by Google App Engine</h4>
    <form action="/order" method="post">
      <input type="hidden" name="action" value="new_order">
      <div style="width:400px">
        <fieldset>
          <legend>Enter your customer name</legend>
          <input type="text" name="customer_name" size="30" maxlength="30">
        </fieldset>
        <br>
        <fieldset>
          <legend>Enter your password</legend>
          <input type="password" name="customer_pw" size="30" maxlength="30">
        </fieldset>
        <br>
        <fieldset>
          <legend>Choose Pizza Size</legend>
          <input type="radio" name="pizza_size" value="8" checked="checked">8 Inch
          <input type="radio" name="pizza_size" value="16">16 Inch
          <input type="radio" name="pizza_size" value="32">32 Inch
        </fieldset>
        <br>
        <fieldset>
          <legend>Select Quantity</legend>
          <select name="qty">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
          </select>
        </fieldset>
        <br>
        <fieldset>
          <legend>Choose Toppings</legend>
          <input type="checkbox" name="toppings" value="pepperoni" />Pepperoni<br>
          <input type="checkbox" name="toppings" value="mushrooms" />Mushrooms<br>
          <input type="checkbox" name="toppings" value="onions" />Onions<br>
          <input type="checkbox" name="toppings" value="peppers" />Peppers
        </fieldset>
        <br>
        <fieldset>
          <legend>Special Instructions</legend>
        <textarea name="spec_instr" rows="4" cols="55"></textarea>
        </fieldset>
        <br>
        
        <input type="submit" value="Order My PIZZA !">
      
      </div>
    </form>

    <hr>

    {% if orders|length > 0 %}
    <section>
      <h3>Edit Existing Orders</h3>
        {% for order in orders %}
          Customer: {{ order.customer }} &nbsp <a href='/edit?key={{ order.key }}&type=order'>Edit this order</a><br>
          Qty: {{ order.quantity }} <br>
          Size: {{ order.size }} <br>
          Toppings:<br>
          <ul>
          {% for topping in order.toppings %}
            <li> {{ topping }}</li>
          {% endfor %}
          </ul>
          Comments: {{ order.comments }}
          <hr>
        {% endfor %}
    </section>
    {% endif %}

    {% if message %}
    <section>
      <h3>Result</h3>
      <p>{{ message }}</p>
    </section>
    {% endif %}

  </body>
</html>
{% endautoescape %}