<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>schmicar-assigment 2</title>
</head>
<body>
  <h1>schmicar's Assignment #2 Page</h1>
  <p><h1>Order your Pizza and Avoid the Noid</h1>
  <form action = "/" method="post">
    <fieldset>
      <legend>Your Name</legend>
      <input type="text" name="user-name">
    </fieldset>
    <fieldset>
      <legend>Special Instructions</legend>
      <input type="text" name="spec-instructions">
    </fieldset>
    <fieldset>
      <legend>Order my pie!</legend>
      <input type="submit" value="order">
    </fieldset>
  </form>
  {% if form_content %}
  <section>
    <dl>
    {% for key, value in form_content.iteritems() %}
      <dt>
        {{ key|e }}
      </dt>
      <dd>
        {{ value|e }}
      </dd>
    {% endfor %}
  </dl>
  </section>
  {% endif %}

</body>
</html>
